.wrapper {
  width: 80vw;
  height: 100vh;
  margin: auto;

  display: grid;
  gap: 30px;
  grid-template-areas:
    "photo"
    "bio";

  align-items: center;
}

@media (min-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "photo  bio";
    gap: 60px;
  }
}

svg {
  fill: currentColor;
}

.photo {
  grid-area: photo;
  max-width: 70%;
  height: auto;

  margin: auto;
  padding-top: 2em;
}

@media (min-width: 800px) {
  .photo {
    max-width: 100%;
    padding-top: 0;
  }
}

.bio {
  grid-area: bio;

  font-family: 'Inter', sans-serif;
  line-height: 1.5em;
}

.bio h1 {
  color: #00749A;
  font-weight: 700;
  font-size: 3em;
  line-height: 1.25em;

  margin: 0;
  margin-bottom: 0.75em;
}

.bio p {
  padding-bottom: 0.5em;
}

.bio a {
  text-decoration: none;
  font-weight: 500;
  color: #00749A;

  transition: 0.2s;
}

.bio a:hover {
  color: #6B9CB6;
}

.social {
  padding-bottom: 2em;
}

@media (min-width: 800px) {
  .social {
    padding-bottom: 0;
  }
}

.icon {
  width: 32px;
  padding: 0 5px;

  color: #00749A;
  transition: 0.2s;
}

.icon:hover {
  color: #6B9CB6;
}

.first {
  padding-left: 0;
}
