.wrapper {
  width: 80vw;
  height: 100vh;
  margin: auto;

  display: grid;
  gap: 60px;
  grid-template-areas:
    "photo"
    "bio";

  align-items: center;
}

@media (min-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "photo  bio";
  }
}

svg {
  fill: currentColor;
}

.photo {
  grid-area: photo;
  max-width: 100%;
  height: auto;
}

.bio {
  grid-area: bio;

  font-family: 'Inter', sans-serif;
  line-height: 1.5em;
}

.bio h1 {
  color: #00749A;
  font-weight: 700;
  font-size: 3em;

  margin-bottom: 1em;
}

.bio p {
  padding-bottom: 0.5em;
}

.bio a {
  text-decoration: none;
  font-weight: 500;
  color: #00749A;

  transition: 0.2s;
}

.bio a:hover {
  color: #6B9CB6;
}

.icon {
  width: 32px;
  padding: 0 5px;

  color: #00749A;
  transition: 0.2s;
}

.icon:hover {
  color: #6B9CB6;
}

.first {
  padding-left: 0;
}
