.photo {
  grid-area: photo;
  max-width: 100%;
  height: auto;
}

.bio {
  grid-area: bio;
  align-content: center;
  justify-content: center;
}

.wrapper {
  width: 80%;
  margin: auto;

  display: grid;
  gap: 20px;
  grid-template-areas:
    "photo"
    "bio";
}

@media (min-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "photo  bio";
  }
}
